EDA/apikeyroboflow.txt
/EDA/data
EDA/eda review naturalis.docx
EDA/EDA murawkam.docx
OneDrive - degoedewoningBureaubladS.txt
YOLOvsLLAVAcomparison\data\Original data folders
/YOLOvsLLAVAcomparison/data/Original data folders
/YOLOvsLLAVAcomparison/data/inspection_dataset/images/all
/YOLOvsLLAVAcomparison/data/inspection_dataset/labels/all
YOLOvsLLAVAcomparison/data/inspection_dataset.zip
YOLOvsLLAVAcomparison\.venv